*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 64px;
    align-items: center;
    padding: 16px 32px;
    color: #000;
    top: 0;
    position: relative;
    border-bottom: 2px solid #eee;
}

nav h1{
    font-size: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li a{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s ease;
    transition: color 0.5s ease, transform 0.5s ease-in;
    display: inline-block;
}

nav ul li a:hover{
    color: #d9534f;
    transform: scale(0.9);
}

#menu-toggle{
    float: right;
    display: none;
}

.menu-icon{
    float: right;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.container-hero{
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 64px 32px;
    width: auto;
}

.container-hero h2{
    font-size: 40px;
    margin-bottom: 16px;
}

.container-hero p{
    font-size: 16px;
    margin: 0 16px;
}

.container-hero .btn{
    display: inline-flex;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.container-hero .table{
    background-color: #e74c3c;
    color: #eee;
}

.container-hero .btn:hover{
    background: #d9534f;
    color: #fff;
}

.container-Our{
    background-color: #fff;
    padding: 68px 32px;
}

.container-Our h3{
    font-size: 30px;
    margin-bottom: 90px;
    text-align: center;
}

.container-Our .cards{
    display: flex;
    gap: 40px;
}


.card i{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: rgb(50, 50, 226);
    background-color: rgb(224, 224, 245);
}

.card h4{
    font-size: 24px;
    margin-bottom: 15px;
}

.card p{
    font-size: 16px;
}

.container-hungry{
    background-color: #e74c3c;
    text-align: center;
    color: #fff;
    padding: 42px 32px;
}

.container-hungry h3{
    font-size: 30px;
    margin-bottom: 16px;
}

.container-hungry p{
    font-size: 16px;
    margin-bottom: 16px;
}

.container-hungry .btn{
    display: inline-block;
    padding: 12px 24px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.container-hungry .btn:hover{
    background-color: #d9534f;
    color: #fff;
}

footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 45px 32px;
}

footer h1{
    font-size: 20px;
    margin-bottom: 40px;
}

footer p{
    font-size: 14px;
    color: grey;
}

@media (max-width: 768px){
  nav ul{
        position: absolute;
        top: 60px;
        right: -100%;
        margin: 0 10px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        background: #fff;
        flex-direction: column;
        width: 150px;
        text-align: center;
        gap: 25px;
        transition: right 0.3s ease;
        height: 200px;
    }

    #menu-toggle:checked ~ ul{
        right: 0;
    }

    .menu-icon{
        display: block;
        color: #000;
    }

    .container-hero p{
        font-size: 14px;
    }

    .container-hero h2{
        font-size: 24px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }

    
    .card{
        text-align: center; 
        max-width: 300px;
    }

    .card i{
        margin: 0 auto 20px;
    }
}