/* ================ Google Fonts Link =================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}


/* ================ Nav Bar =================== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 100;
    background: #081b29;
    border-bottom: 2px solid #112e42;
    padding: 0 20px;
}


.logo img {
    height: auto; 
    width: 50px; 
    display: flex;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#menu-toggle{
    display: none;
    float: right;
}

.menu-icon{
    float: right;
    display: none;
    font-size: 28px;
    color: #0ef;
    cursor: pointer;
    user-select: none;
}


.nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 60px;
}

.nav-bar a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: 0.5s ease;
}

nav a:hover{
    color: #0ef;
    border-bottom: 2px solid #0ef;
    transform: scale(0.95);
}

/* ================ Hero Section =================== */
.home{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    color: #fff;
    padding: 70px 10% 0;
    background: #081b29;
}

.home-content{
    max-width: 650px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    
}

.static-text{
    display: flex;
}

.home-content .dynamic-text{
    margin-left: 15px;
    height: 50px;
    overflow: hidden;
}

.dynamic-text li{
    list-style: none;
    color: #0ef;
    font-weight: 500;
    font-size: 32px;
    position: relative;
    top: 0;
    animation: slide 20s steps(4)infinite;
}

@keyframes slide {
    100% {
        top: -200px;
    }
}

.dynamic-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 50px;
}

.dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    border-left: 2px solid #0ef;
    animation: typing 5s steps(21)infinite;
}


@keyframes typing{
    40%,60%{
        left: calc(100% + 30px);
    }

    100%{
        left: 0;
    }
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 3px;
    color: #0ef;
}

.home-content p{
    font-size: 15px;
   
}

.home-profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: url("profile\ image.png") transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 230%;
    box-shadow: 0 0 5px 1px #fff, 0 0 5px 1px #fff inset, 0 0 15px 4px #0ef, 0 0 15px 4px #0ef inset;
}

.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #0ef;
    color: #0ef;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 10px 30px 0;
    transition: all 0.3s ease;
}

.social-icons a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn{
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #081b29;
    border-radius: 40px;
    letter-spacing: 1px;
    box-shadow: 0 0 5px #0ef;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: 0 0 20px white;
    transform: scale(0.95);
}

/* ================ Responsive =================== */
@media (max-width: 768px){
    
    .menu-icon{
        display: block;
    }

    .nav-bar{
        position: absolute;
        top: 60px;
        right: -100%;
        padding: 20px 0;
        background: #081b29;
        flex-direction: column;
        width: 200px;
        text-align: center;
        gap: 25px;
        transition: right 0.3s ease;
        z-index: 200;
        height: 100vh;
        margin-right: 0px;
    }

    #menu-toggle:checked + .menu-icon + .nav-bar {
        right: 0%;
    }

    .home{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 70px;
        height: auto;
    }

    .home-content{
        width: 100%;
        order: 2;
    }

    .home-profile {
        width: 200px;
        height: 200px;
        background-size: 180%;
        order: 1;
    }

    .static-text{
        margin-bottom: 8px;
    }

    
    .home-content h1 {
        font-size: 36px;
    }

    .home-content h3{
        font-size: 16px;
    }

    .home-content p{
        font-size: 16px;
    }

    .home-content .dynamic-text{
        height: 30px;
    }

.dynamic-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 30px;
}

@keyframes slide {
    100% {
        top: -120px;
    }
}

     .dynamic-text li {
        font-size: 20px;
    }
}

