/* ================ About Section =================== */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background:  #112e42;
}

.about-profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 200px;
     background: url("profile\ image.png") transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    box-shadow: 0 0 5px 1px #fff, 0 0 5px 1px #fff inset, 0 0 15px 4px #0ef, 0 0 15px 4px #0ef inset;
}

.about-content h2{
    font-size: 60px;
    color: #fff;
}

.about-content h2 span{
    color: #0ef;
}

.about-content h4{
    color: #fff;
    font-size: 20px;
    line-height: 1.7;
    margin: 10px 0 20px;
}

.about-content p{
    color: aliceblue;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.btn-box{
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #081b29;
    border-radius: 40px;
    letter-spacing: 1px;
    box-shadow: 0 0 5px #0ef;
    margin-bottom: 4rem;
    transition: 0.5s ease;
}

.btn-box:hover{
    box-shadow: 0 0 20px white;
    transform: scale(0.95);
}

/* ================ Education Section =================== */
.education{
    padding: 70px 10% 0;
    width: 100%;
    min-height: 100vh;
    background: #081b29;
}

.education h2{
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
}

.education h2 span{
    color: #0ef;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-direction: row;
    padding-bottom: 4rem;
}

.education-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 3px solid #0ef;
    padding-left: 20px;
}

.education-content h3{
    font-size: 24px;
    color: #fff;
}

.education-content h3 i{
    color: #0ef;
}

.experience-content h3 i{
    color: #0ef;
}

.experience-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 3px solid #0ef;
    padding-left: 20px;
}

.experience-content h3{
    font-size: 24px;
    color: #fff;
}


.content-box{
    border: 2px solid #0ef;
    padding: 20px;
    width: 400px;
    color: #fff;
    height: auto;
    border-radius: 8px;
}

.content-box h5{
    color: #0ef;
    font-size: 13px;
    margin-bottom: 5px;
}

.content-box h4{
    font-size: 14px;
    margin-bottom: 3px;
}

.content-box p{
    font-size: 12px;
    color: aliceblue;
}
 
#box{
    height: 215px;
}

.content-box:hover{
    box-shadow: 0 0 8px white;
}

/* ================ Skills Section =================== */
.skills{
    padding: 70px 10% 0;
    width: 100%;
    min-height: 100vh;
    background: #112e42;
}

.skills h2{
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.skills h2 span{
    color: #0ef;
}

.skills-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
    gap: 30px;
}

.skills-box{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #081b29;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px white;
    transition: 0.5s ease;
}

.skills-box:hover{
    box-shadow: 0 0 10px #fff;
    transform: translateY(-5%);
}

.skills-box i{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: rgb(0, 225, 255);
    background: rgb(129, 136, 175);
    font-size: 32px;
    transition: 0.5s ease;
}

.skills-box i:hover{
    box-shadow: 0 0 5px #0ef;
}

.skills-box h4{
    color: #0ef;
}

/* ================ Services Section =================== */
.services{
    padding: 70px 10%;
    width: 100%;
    min-height: 100vh;
    background: #081b29;
}

.services h2{
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.services h2 span{
    color: #0ef;
}

.services-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 40px;
    flex-wrap: wrap;
}

.services-box{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 270px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #112e42;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease;
    box-shadow: 0 0 3px white;
}

.services-box:hover{
    box-shadow: 0 0 10px #fff;
    transform: translateY(-5%);
}

.services-box i{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: rgb(0, 225, 255);
    background: rgb(129, 136, 175);
    font-size: 32px;
    transition: 0.5s ease;
}

.services-box h4{
    color: #0ef;
}

.services-box p{
    color: aliceblue;
    font-size: 12px;
}



/* ================ Responsive =================== */
@media (max-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 70px 10% 0;
        gap: 30px;
    }

    .about-profile{
        margin-right: 200px;
    }

    .about-content h2{
        font-size: 36px;
    }

    .about-content h4{
        font-size: 16px;
        font-weight: 600;
    }

    .about-content p{
        font-size: 14px;
    }

    /* ================ Education Section =================== */
    
    
    .education h2{
        font-size: 36px;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 50px;  
    }


    .skills h2{
        font-size: 36px;
        margin-bottom: 50px;
    }

    .services h2{
        font-size: 36px;
        margin-bottom: 50px;
    }

}

@media (max-width: 600px){
    .about-content h4{
        font-size: 11px;
    }

    

    .education-content h3{
            font-size: 20px;
        }

    .experience-content h3{
        font-size: 20px;
    }

    .content-box{
        width: 280px;
    }

    .content-box h4{
        font-size: 12px;
    }
    
    #box{
        height: auto;
    }

    .content-box p{
        font-size: 10px;
    }

    .services-box{
    width: 180px;
    height: 270px;
    }
}

@media (max-width: 500px){
    .services-content{
        height: auto;
        gap: 20px;
        width: 100%;
        margin-bottom: 40px;
    }

    .services-box{
    width: 120px;
    height: 260px;
    }

    .services-box h4{
        font-size: 12px;
    }

    .services-box p{
        font-size: 10px;
    }


    .skills-content {
        height: auto;
        width: 100%;
        gap: 20px;
    }

    .skills-box {
        width: 130px;
        height: 130px;
    }

    .projects-container{
        gap: 20px;
    }

    .project-content{
        width: 100%;
        height: auto;
    }
}
